<div class="container" style="margin-top: 30px;">
  <div class="row">
      <div class="col-md-12">
        <%= image_tag 'BMK_FFG_logo-705x224.png', align: "right", style: "height: 100px; margin-top: -10px; vertical-align: text-bottom;" %>This project has received funding from the program “Datenökosysteme für die Energiewende” by the Federal Ministry for Climate Action, Environment, Energy, Mobility, Innovation and Technology (BMK) under <a href="https://projekte.ffg.at/projekt/4861627" target="_blank">grant number 905128</a>. &nbsp;Learn more about <a href="https://github.com/OwnYourData/anonymiser">Anoymiser</a>.
      </div>
  </div>
</div>
<footer class="footer">
  <div class="container" style="margin-bottom: 30px;">
    <nav>
      <ul style="padding-right: 120px;">
        <li><%= link_to "OwnYourData.eu", 'https://www.ownyourdata.eu' %> © 2025</li>
        <li><%= link_to t('footer.security'), 'https://www.ownyourdata.eu/en/privacy-policy/', class: 'hidden-xs' %></li>
        <li><%= link_to t('footer.impressum'), 'https://www.ownyourdata.eu/en/imprint/', class: 'hidden-xs' %></li>
      </ul>
    </nav>
  </div>
</footer>
